*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --linear-BG:linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

    --Bitcoin-Orange:  #f7931a ;
    --soft-orange: #ffe9d4 ;
    --secondary-blue:  #1a9af7     ;
    --soft-blue:  #1a9af7  ;
    --warm-black: #201e1c ;
    --warm-black1: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff ;
    
    --shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    
    
}
html{
    font-size: 6.25%;
    font-family: "DM Sans", sans-serif;
}
body{
    font-size: 16rem;;
}
.title{
    font: 700 24rem "DM Sans";
    line-height: 26rem;
    padding-bottom: 20px;
}
.subtitle{
    font: 500 14rem "DM Sans";
    line-height: 18rem;
    padding-bottom: 30px;
}
header{
    background: var(--linear-BG);
    padding: 30px ;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}
header img{
    width: 180px;
    margin-bottom: 30px;
    align-self: center;
}
header .title{
    color: var(--just-white);
    
}
header .subtitle{
    color: var(--soft-orange);
}
.header--button{
    position: absolute;
    bottom: -15px;
    left: calc(50vw - 120px);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 240px;
    height: 45px;
    
    text-decoration: none;
    color: var(--warm-black);
    font: 700 14rem 'DM Sans' ;

    border: none;
    border-radius: 6px;
    box-shadow: var(--shadow);
    background-color: var(--off-white);
}
.header--button span{
    width: 15px;
    height: 15px;
    background-image: url(/assets/Vector.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* second layout */

.main--exchange-container{
    padding: 16px;
    background-color: var(--off-white);
    text-align: center;
}
.main--exchange-container figure{
    display: grid;
    place-items: center;
    margin: 40px 0;
}
.main--exchange-container .subtitle{
    color: var(--grey);
}
.exchange-container--table{
    width: 210px;
    margin: 20px auto;
}
.table--header{
    color: var(--Bitcoin-Orange);
    padding: 10px;
    text-align: start;
}
.exchange-container--table table{
    width: 100%;
    border: 1px solid var(--off-white);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--just-white);
    border-collapse: collapse;
    color: var(--grey);
    font-family: "Inter", sans-serif;
}
.exchange-container--table th{
    text-align: start;
    border: 1px solid var(--off-white);
    padding: 5px 10px;
    font: 400 16rem "Inter";
    line-height: 19px;
}
.exchange-container--table td{
    border: 1px solid var(--off-white);
    color: rgba(117, 117, 117, 1);

    padding: 5px 10px;
}
.exchange-container--table td span{
    text-align: center;
    padding-right: 8px;
}
.exchange-container--table td img{
    width: 14px;

}
.change-info{
    margin: 10px auto 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 130px;
    height: 30px;
    padding: 0 8px;
    background-color: var(--soft-orange);
    border: none;
    border-radius: 8px;
    font: 400 14rem "Inter";
}
.change-info span{
    font-weight: bold;
}
/* main--product-info */

.main--product-info{
    background-color: var(--warm-black);
    padding: 55px 15px 30px;
    
}
.main--product-info > .title{
    color: var(--just-white);
    text-align: center;
}
.main--product-info > .subtitle{
    color: var(--grey);
    text-align: center;
}
.product-info--cards-container{
    display: grid;
}
.product-info--cards-container .card-info {
    background-color: var(--warm-black1);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 400px;
}
.card-info .card-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.clock{
    background-image: url("../assets/clock\ 1.svg");
}
.eye{
    background-image: url("../assets/eye\ 1.svg");
}
.dollar{
    background-image: url("../assets/dollar-sign\ 1.png");
}
.check{
    background-image: url("../assets/check-circle\ 1.svg");
}
.h3-title{
    font:700 18rem "DM Sans";
    line-height: 18rem;
    color: var(--off-white);
    margin: 6px 0;
}
.h3-subtitle{
    font:500 14rem "DM Sans";
    line-height: 18rem;
    color: rgba(128, 128, 128, 1);
    margin: 5px 0;
    ;
}
/* layout4 */

.bitcoin-img-container{
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;

    background-image: url(../assets/bitcoinbaby\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.bitcoin-img-container p{
    position: absolute;
    color: var(--soft-orange);
    top:  80px;
}
/* main--plans-section */
.main--plans-section{
    padding: 70px 0 30px;
    background-color: var(--off-white);
    text-align: center;
}
.main--plans-section .title{
    display: inline-block;
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
}
.main--plans-section .subtitle{
    padding: 0 20px;
}
.plans-container--slider{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: contain;
    scroll-snap-type: x proximity;
}
.plans{
    margin: 20px 0;
    padding:  20px 0;
    display: flex;
    justify-content: center;
}
.plan-option{
    position: relative;
    scroll-snap-align: center;
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    width: 200px;
    height: 250px;
    padding: 24px;
    margin: 0 4px;
    border-radius: 8px;
    background-color: var(--just-white);
    box-shadow: var(--shadow);
}
.plan-option .recomendation{
    position: absolute;
    top: -15px;
    left: calc(50% - 50px);
    display: grid;
    place-items: center;
    width: 100px;
    height: 30px;
    background-color: var(--Bitcoin-Orange);
    border-radius: 8px;
}
.plan-option .recomendation p{
    color: var(--just-white);
    font: 500 12px "Inter";
}
.plan-option h3{
    margin-top: 10px;
    font: 700 14px "Inter";
}
.plan-option .price{
    position: relative;
    font: 700 52px "Inter";
    width: 80px;
    text-align: center;
}
.plan-option .price span{
    font: 500 12px "Inter";
    position: absolute;
    top: 0;
    left: 0;
}
.plan-option .comment{
    font: 500 12px "Inter";
    line-height: 12px;
    width: 100%;
    color:  rgba(117, 117, 117, 1);
    ;
    text-align: center;
}
.plan-option button{
    align-self: self-end;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 2px solid var(--Bitcoin-Orange);
    font: 700 12px "Inter";
}
.qa-title{
    padding: 16px;
}
.qa-container{
padding: 20px;
text-align: left;
}
.qa-container p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font: 500 var(--h2-mobile) "DM Sans";
    line-height: var(--lh2-mobile);
    color: rgba(117, 117, 117, 1);
    ;
}
.qa-container p span{
width: 30px;
padding-right: 6px;
text-align: end;
}
/* footer */
.footer-container{
    height: 120px;
    width: 100%;
    background-color: var(--Bitcoin-Orange);
    display: grid;
    padding: 0 20px;
    place-items: center;
    grid-template-columns: auto auto;
}
.container-left ul li{
    list-style: none;
    margin-top: 8px;
}
.container-left ul li a {
    text-decoration: none;
    color: var(--soft-orange);
    font: 500 var(--h2-mobile) "DM Sans";
    line-height: var(--lh2-mobile);
}